<div class="tbl table-responsive">

<table class="table table-hover" *ngIf="assets">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">SubType</th>
        <th scope="col">Description</th>
        <th scope="col">Asset Number</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let asset of assets">
      <tr>
        <th scope="row">{{asset.id}}</th>
        <td><img [src]="createImgPath(asset.url)" style="max-height: 50px;" 
            class="img-fluid"></td>
        <td>{{asset.name}}</td>
        <td>{{asset.type}}</td>
        <td>{{asset.subType}}</td>
        <td>{{asset.description}}</td>
        <td>{{asset.assetNumber}}</td>
        <td>
            <a class="btn btn-danger mr-2" (click)="onDelete(asset.id)">Delete</a>
            <a class="btn btn-primary" (click)="onEdit(asset.id)">Edit</a>
        </td>
      </tr>

    </tbody>
  </table>
</div>