<div class="container">
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="message !== ''">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        {{message}}
      </div>
    <div class="row justify-content-center">
        
    <div class="col-md-10">
        <form [formGroup]="AddForm" (ngSubmit)="onSubmit()">
            <div class="formStyle">

                <h5 class="form-head">{{title}}</h5>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label for="customerId">Department</label>
                    </div>
                    <div class="col-md-10">
                        <select formControlName="departmentId" class="form-control"
                        [ngClass]="{'is-invalid' : AddForm.get('departmentId').value < 1 && 
                       AddForm.get('departmentId').touched}">
                           <option selected disabled value="">Select department</option>
                           <option *ngFor="let department of departments" [value]="department.id">
                               {{department.name}}
                           </option>
                       </select>
                       <div class="text-danger" *ngIf="this.AddForm.get('departmentId').value < 1 
                           && this.AddForm.get('departmentId').touched">
                               This Field is required
                       </div>
                    </div>
                </div>
                 <div class="form-group row">
                    <div class="col-md-2"> <label for="customerId">Customer Name</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" formControlName="customerName" 
                        class="form-control" placeholder="customer Name" [ngClass]="{'is-invalid' : 
                        AddForm.get('customerName').invalid && AddForm.get('customerName').touched}">
                        <span class="text-danger" *ngIf="!this.AddForm.get('customerName').valid 
                        && this.AddForm.get('customerName').touched">
                            {{errorMessage.customerName.required}}
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">Customer Phone</div>
                    <div class="col-md-10">
                        <input type="text" formControlName="customerPhone" 
                        class="form-control" placeholder="customer Phone" [ngClass]="{'is-invalid' : 
                        AddForm.get('customerPhone').invalid && AddForm.get('customerPhone').touched}">
                        <span class="text-danger" *ngIf="!this.AddForm.get('customerPhone').valid 
                        && this.AddForm.get('customerPhone').touched">
                            {{errorMessage.customerPhone.required}}
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">Customer Adress</div>
                    <div class="col-md-10">
                        <input type="text" formControlName="customerAdress" 
                        class="form-control" placeholder="customer Adress" [ngClass]="{'is-invalid' : 
                        AddForm.get('customerPhone').invalid && AddForm.get('customerPhone').touched}">
                        <span class="text-danger" *ngIf="!this.AddForm.get('customerPhone').valid 
                        && this.AddForm.get('customerPhone').touched">
                            {{errorMessage.customerPhone.required}}
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">Customer Region</div>
                    <div class="col-md-10">
                        <input type="text" formControlName="customerRegion" 
                        class="form-control" placeholder="Customer Region" [ngClass]="{'is-invalid' : 
                        AddForm.get('customerRegion').invalid && AddForm.get('customerRegion').touched}">
                        <span class="text-danger" *ngIf="!this.AddForm.get('customerRegion').valid 
                        && this.AddForm.get('customerRegion').touched">
                            {{errorMessage.customerRegion.required}}
                        </span>
                    </div>
                </div>
             
              
                <div class="form-group row">
                    <div class="col-md-2">
                        <label for="status">Status</label>
                    </div>
                    <div class="col-md-10">
                        <select class="form-control" formControlName="status">
                            <option *ngFor="let key of keys;"  [value]="statuslist[key]"
                            [label]="statuslist[key]"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <label for="date">Date</label>
                    </div>
                    <div class="col-md-10">
                        <input type="datetime-local" formControlName="date" 
                        class="form-control" placeholder="Date" [ngClass]="{'is-invalid' : 
                        AddForm.get('date').invalid && AddForm.get('date').touched}">
                        <span class="text-danger" *ngIf="!this.AddForm.get('date').valid 
                        && this.AddForm.get('date').touched">
                            {{errorMessage.date.required}}
                        </span>
                        <span class="text-danger" *ngIf="checkDate()">
                            {{errorMessage.date.format}}
                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">Destination</div>
                    <div class="col-md-10">
                        <input type="text" formControlName="destination" 
                        class="form-control" placeholder="destination" [ngClass]="{'is-invalid' : 
                        AddForm.get('destination').invalid && AddForm.get('destination').touched}">
                        <span class="text-danger" *ngIf="!this.AddForm.get('destination').valid 
                        && this.AddForm.get('destination').touched">
                            {{errorMessage.destination.required}}
                        </span>
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn custom-btn mt-3" [disabled]="AddForm.invalid" 
                    type="submit">{{btnTitle}}</button>
                </div>
            
            </div>
        </form>
    </div>
</div>
</div>