<ul class="menu-list text-center mt-3">
  <li class="list-group-item ml-3"
    [class.active]="'A' === SelectedKey" (click)="filter('A')"
    style="cursor: pointer;">
    All
  </li>
  <li class="list-group-item ml-3"
    [class.active]="'T' === SelectedKey" (click)="filterDate('T')"
    style="cursor: pointer;">
    Today
  </li>
  <li class="list-group-item ml-3" *ngFor="let key of keys" (click)="filter(key)"
  [class.active]="key === SelectedKey"
  style="cursor: pointer;">
  {{statuslist[key]}}
  </li>
</ul>
<div *ngIf="isLoading" style="text-align: center; margin-top: 25vh;">
    <app-loading-spinner></app-loading-spinner>
  </div>
        
  <div class="tbl table-responsive mt-5" *ngIf="Trips.length >= 1 && !isLoading">
  
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
              <th scope="col">Destination</th>
              <th scope="col">Customer Name</th>
              <th scope="col">Customer Phone</th>
              <th scope="col">Customer Region</th>
              <th scope="col">Driver</th>

              <th *ngIf="SelectedKey != 'A'">Actions</th>
            </tr>
          </thead>
       
            <tbody *ngFor="let trip of Trips">
              <tr>
                <td>{{trip.date | date: 'fullDate'}}</td>
                <td><span class="status" 
                  [ngClass]="{'waiting': trip.status == 'Waiting' , 'done': trip.status == 'Done'}">{{trip.status}}</span></td>
                <td>{{trip.destination}}</td>
                <td>{{trip.customerName}}</td>
                <td>{{trip.customerPhone}}</td>
                <td>{{trip.customerRegion}}</td>
                <td>{{trip.user.userName}}</td>

                <td *ngIf="SelectedKey != 'A'">
                  <a class="btn btn-sm btn-primary mr-1 mb-1" (click)="onEdit(trip.id)" 
                  *ngIf="trip.status != 'Done'">Edit</a>
                  <a class="btn btn-sm btn-danger mr-1" (click)="onDelete(trip.id)">Delete</a>
                  <a class="btn btn-sm btn-secondary" routerLink="tracking/{{trip.id}}" 
                  *ngIf="IsTracking">Tracking</a>
                </td>
              </tr>
            </tbody>          
  
      </table>
  </div>
  <div *ngIf="Trips.length == 0 && !isLoading" class="text-center mt-5">
    <h4><em>No Trips Here</em></h4>
    <a (click)="onAdd()" class="btn btn-primary mt-2">Add Trip</a>
    
  </div>
  