<div *ngIf="isLoading" style="text-align: center; margin-top: 25vh;">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="tbl table-responsive" *ngIf="drivers.length >= 1 && !isLoading">

      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">FirstName</th>
              <th scope="col">LastName</th>
              <th scope="col">phone</th>
              <th scope="col">Email</th>
              <th></th>
            </tr>
          </thead>
       
            <tbody *ngFor="let driver of drivers">
              <tr>
                <td><img [src]="createImgPath(driver.url)" style="max-height: 50px;" 
                    class="img-fluid"></td>
                <td>{{driver.firstName}}</td>
                <td>{{driver.lastName}}</td>
                <td>{{driver.phone}}</td>
                <td>{{driver.email}}</td>
                <td>
                    <a class="btn btn-danger mr-2" (click)="onDelete(driver.driverId)">Delete</a>
                    <a class="btn btn-primary" (click)="onEdit(driver.driverId)">Edit</a>
                </td>
              </tr>
            </tbody>          

      </table>
  </div>
  <div *ngIf="drivers.length == 0 && !isLoading" class="text-center mt-3">
    <h4><em>No Drivers Here</em></h4>
    <a (click)="onAdd()" class="btn btn-primary mt-2">Add Driver</a>
    
  </div>
