    <div class="container">
        <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="message !== ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            {{message}}
          </div>
        <div class="row justify-content-center">
        
        <div class="col-md-10">
            <form [formGroup]="AddForm" (ngSubmit)="onSubmit()">
                <div class="formStyle">

                    <h5 class="form-head">{{title}}</h5>

                    <div class="form-group row" *ngIf="!isEditMode">
                        <div class="col-md-2">
                            <label for="description">Ownership</label>
                        </div>
                        <div class="col-md-10">
                            <div class="form-control">
                                <label class="radio-inline mr-5">
                                    <input type="radio" (change)="filter(public)" #public value="public" formControlName="Publicity"> Public
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" (click)="filter(private)" #private value="private" formControlName="Publicity"> Private
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" *ngIf="IsPrivate">
                        <div class="col-md-2">
                            <label for="name">Name</label>
                        </div>
                        <div class="col-md-10">
                            <input type="text" formControlName="name" class="form-control" 
                            placeholder="Name" [ngClass]="{'is-invalid' : 
                            !AddForm.get('name').valid && this.AddForm.get('name').touched}" 
                            (blur)="isAssetNameExist()">
                            <div class="text-danger" *ngIf="!this.AddForm.get('name').valid && 
                            this.AddForm.get('name').touched">
                            <span *ngIf="AddForm.get('name').errors['required']">
                                {{errorMessage.name.required}}
                            </span>
                            </div>
                            <div class="text-danger">
                                {{errorMessage.name.nameExist}}
                            </div>
                        </div>
                    </div>
                    

                  <!--
<div class="form-group row" *ngIf="isEditMode">
                        <div class="col-md-2">
                            <label for="name">Type</label>
                        </div>
                        <div class="col-md-10">
                            <input type="text" formControlName="type" class="form-control" 
                            placeholder="type" [ngClass]="{'is-invalid' : 
                            !AddForm.get('type').valid && this.AddForm.get('type').touched}" 
                            (blur)="isAssetNameExist()">
                            <div class="text-danger" *ngIf="!this.AddForm.get('type').valid && 
                            this.AddForm.get('type').touched">
                            </div>
                        </div>
                    </div>
                  -->  
<!--
 <div class="form-group row" *ngIf="isEditMode">
                        <div class="col-md-2">
                            <label for="name">SubType</label>
                        </div>
                        <div class="col-md-10">
                            <input type="text" formControlName="subType" class="form-control" 
                            placeholder="type" [ngClass]="{'is-invalid' : 
                            !AddForm.get('subType').valid && this.AddForm.get('subType').touched}" 
                            (blur)="isAssetNameExist()">
                            <div class="text-danger" *ngIf="!this.AddForm.get('subType').valid && 
                            this.AddForm.get('subType').touched">
                            </div>
                        </div>
                    </div>
-->
                   

                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="type">Type</label>
                        </div>
                        <div class="col-md-10">
                            <select formControlName="type" class="form-control" 
                            [ngClass]="{'is-invalid' : AddForm.get('type').invalid && 
                            AddForm.get('type').touched}" (change)="onTypeChange()" required>
                                <option value="" selected *ngIf="!isEditMode">Select Type</option>
                                <option 
                                    *ngFor="let type of TypeAfterEvent">
                                    {{type.name}}
                                </option>
                            </select>
                            <div class="text-danger" *ngIf="this.AddForm.get('type').invalid 
                                && this.AddForm.get('type').touched && AddForm.get('type').errors['required']">
                                    {{errorMessage.type.required}}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="subType">SubType</label>
                        </div>
                        <div class="col-md-10">
                            <select formControlName="subType"
                            class="form-control" 
                           [ngClass]="{'is-invalid' : AddForm.get('subType').invalid && 
                           AddForm.get('subType').touched}">
                           <option value="" selected *ngIf="!isEditMode">Pick a SubType...</option>
                               <option 
                                   *ngFor="let subtype of subTypeAfterEvent">
                                   {{subtype.name}}
                               </option>
                           </select>
                           <div class="text-danger" *ngIf="this.AddForm.get('subType').invalid 
                                && this.AddForm.get('subType').touched">
                                    SubType is required
                            </div>
                        </div>
                    </div>
                   
                    <div class="form-group row" *ngIf="IsPrivate">
                        <div class="col-md-2">
                            <label for="assetNumber">Number</label>
                        </div>
                        <div class="col-md-10">
                            <input type="text" formControlName="assetNumber" 
                            class="form-control" placeholder="Asset Number" [ngClass]="{'is-invalid' : 
                            AddForm.get('assetNumber').invalid && 
                            AddForm.get('assetNumber').touched}" (blur)="isAssetNumberExist()">
                            <span class="text-danger" *ngIf="!this.AddForm.get('assetNumber').valid 
                            && this.AddForm.get('assetNumber').touched">
                            <span *ngIf="AddForm.get('assetNumber').errors['required']">
                                {{errorMessage.assetNumber.required}}
                            </span>
                            </span>
                            <span class="text-danger">
                                {{errorMessage.assetNumber.Exist}}
                            </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="description">Description</label>
                        </div>
                        <div class="col-md-10">
                            <textarea type="text" formControlName="description" rows="4" 
                            class="form-control" placeholder="Description" [ngClass]="{'is-invalid' : 
                            AddForm.get('description').invalid && AddForm.get('description').touched}">
                            </textarea>
                        </div>
                    </div>


                     <div class="text-center" *ngIf="IsPrivate && !isEditMode">
                        <button class="btn custom-btn mt-3" [disabled]="AddForm.invalid || 
                        AssetNumberExist || 
                        NameExist" 
                        type="submit">{{btnTitle}}</button>
                     </div>

                     <div class="text-center" *ngIf="isEditMode">
                        <button class="btn custom-btn mt-3" 
                        type="submit">{{btnTitle}}</button>
                     </div>

                     <div class="text-center" *ngIf="!IsPrivate && !isEditMode">
                        <button class="btn custom-btn mt-3" [disabled]="!AddForm.get('type').valid || 
                        !AddForm.get('subType').valid || !AddForm.get('Publicity').valid" 
                        type="submit">{{btnTitle}}</button>
                     </div>
                </div>
            </form>
        </div>
    </div>
    </div>