<div class="wrapper" style="background-color: #f2f7fb">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>ADMIN</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Tracking Assets</p>
            <li>
                
                <a href="#TripsMenu" data-toggle="collapse" aria-expanded="false" 
                class="dropdown-toggle"> Trips</a>
                <ul class="collapse list-unstyled" id="TripsMenu">
                    <li>
                        <a routerLink="/add-trip">Add Trip</a>
                    </li>
                    <li>
                        <a [routerLink]="['/trip-list']">Trip List</a>
                    </li>
                </ul>
            </li>
            <li>
                
                <a href="#driverMenu" data-toggle="collapse" aria-expanded="false" 
                class="dropdown-toggle"> Drivers</a>
                <ul class="collapse list-unstyled" id="driverMenu">
                    <li>
                        <a routerLink="/add-driver">Add Driver</a>
                    </li>
                    <li>
                        <a [routerLink]="['/driver-list']">Driver List</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#AssetMenu" data-toggle="collapse" aria-expanded="false" 
                class="dropdown-toggle">Assets</a>
                <ul class="collapse list-unstyled" id="AssetMenu">
                    <li>
                        <a routerLink="/add-asset">Add Asset</a>
                    </li>
                    <li>
                        <a [routerLink]="['/asset-list']">Asset List</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#customerMenu" data-toggle="collapse" aria-expanded="false" 
                class="dropdown-toggle">Customers</a>
                <ul class="collapse list-unstyled" id="customerMenu">
                    <li>
                        <a routerLink="/add-customer">Add Customer</a>
                    </li>
                    <li>
                        <a [routerLink]="['/customer-list']">Customer List</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#IssueMenu" data-toggle="collapse" aria-expanded="false" 
                class="dropdown-toggle">Issues</a>
                <ul class="collapse list-unstyled" id="IssueMenu">
                    <li>
                        <a routerLink="/add-issue">Add Issue</a>
                    </li>
                    <li>
                        <a routerLink="/issue-list">Issue List</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#PlaceMenu" data-toggle="collapse" aria-expanded="false" 
                class="dropdown-toggle">Places</a>
                <ul class="collapse list-unstyled" id="PlaceMenu">
                    <li>
                        <a routerLink="/add-place">Add Place</a>
                    </li>
                    <li>
                        <a routerLink="/place-list">Place List</a>
                    </li>
                </ul>
            </li>
            <button class="btn mt-5" style="color: #263544; background-color: white; font-weight: 600;" 
            (click)="logout()"> Log Out </button>

        </ul>

        <ul class="list-unstyled CTAs">
            
        </ul>
    </nav>
    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fa fa-align-left"></i>
                    
                </button>
                
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                       
                    </ul>
                </div>
            </div>
        </nav>

        <div>
            <router-outlet></router-outlet>
        </div>
     <!--
    <div *ngIf="isAddDriver">
          <app-driver-add></app-driver-add>
      </div>

      <div *ngIf="isAddAsset">
          <app-asset-add></app-asset-add>
    </div>
     --> 
    </div>
</div>