<div class="tbl table-responsive">

    <table class="table table-hover" *ngIf="customers">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let customer of customers">
          <tr>
            <td>{{customer.name}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.address}}</td>
            <td>
                <a class="btn btn-danger mr-2" (click)="onDelete(customer.id)">Delete</a>
                <a class="btn btn-primary" (click)="onEdit(customer.id)">Edit</a>
            </td>
          </tr>
    
        </tbody>
      </table>
    </div>