<div *ngIf="isLoading" style="text-align: center; margin-top: 25vh;">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="tbl table-responsive" *ngIf="customers.length >= 1 && !isLoading">

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Region</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let customer of customers">
          <tr>
            <td>{{customer.name}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.region}}</td>
            <td>
                <a class="btn btn-danger mr-2" (click)="onDelete(customer.id)">Delete</a>
                <a class="btn btn-primary" (click)="onEdit(customer.id)">Edit</a>
            </td>
          </tr>
    
        </tbody>
      </table>
    </div>
    <div *ngIf="customers.length == 0 && !isLoading" class="text-center mt-3">
      <h4><em>No Customers Here</em></h4>
      <a (click)="onAdd()" class="btn btn-primary mt-2">Add Customer</a>
      
    </div>