<div class="container">
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="message !== ''">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        {{message}}
      </div>
    <div class="row justify-content-center">
    
    <div class="col-md-10">
        <form [formGroup]="AddForm" (ngSubmit)="onSubmit()">
            <div class="formStyle">

                <h5 class="form-head">{{title}}</h5>
               
                <div class="form-group row" *ngIf="!isEditMode">
                    <div class="col-md-2">
                        <label for="description">Ownership</label>
                    </div>
                    <div class="col-md-10">
                        <div class="form-control">
                            <label class="radio-inline mr-5">
                                <input type="radio" (change)="filter(public)" #public value="public"
                                 formControlName="ownership"> Public
                            </label>
                            <label class="radio-inline">
                                <input type="radio" (click)="filter(private)" #private 
                                value="private" formControlName="ownership"> Private
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group row" *ngIf="IsPrivate && isEditMode || IsPrivate">
                    <div class="col-md-2">
                        <label for="assetId">Asset</label>
                    </div>
                    <div class="col-md-10">
                        <select formControlName="assetId" class="form-control"
                        [ngClass]="{'is-invalid' : AddForm.get('assetId').value < 1 && 
                       AddForm.get('assetId').touched}">
                           <option selected disabled value="0">Select Asset</option>
                           <option *ngFor="let asset of assets" [value]="asset.id">
                               {{asset.assetNumber}}
                           </option>
                       </select>
                       <div class="text-danger" *ngIf="this.AddForm.get('assetId').value < 1 
                           && this.AddForm.get('assetId').touched">
                               This Field is required
                       </div>
                    </div>
                </div>
             
                <div class="form-group row" *ngIf="IsPrivate && isEditMode || IsPrivate">
                    <div class="col-md-2">
                        <label for="status">Status</label>
                    </div>
                    <div class="col-md-10">
                        <select class="form-control" formControlName="status">
                            <option *ngFor="let key of keys;"  [value]="statuslist[key]"
                            [label]="statuslist[key]"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">Description</div>
                    <div class="col-md-10">
                        <textarea type="text" formControlName="description" rows="4"
                        class="form-control" placeholder="Description" [ngClass]="{'is-invalid' : 
                        AddForm.get('description').invalid && AddForm.get('description').touched}"></textarea>
                        <span class="text-danger" *ngIf="!this.AddForm.get('description').valid 
                        && this.AddForm.get('description').touched">
                            {{errorMessage.description.required}}
                        </span>
                    </div>
                </div>

                <div class="text-center" *ngIf="IsPrivate">
                    <button class="btn btn-custom mt-3" [disabled]="AddForm.invalid" 
                    type="submit">{{btnTitle}}</button>
                </div>
                <div class="text-center" *ngIf="!IsPrivate">
                    <button class="btn btn-custom mt-3" [disabled]="!AddForm.get('description').valid 
                    || !AddForm.get('ownership').valid" 
                    type="submit">{{btnTitle}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>